.container{
    height: 100vh;
    width: 100%;

    display: grid;

    place-items: center;

    .wrapper{

        width: 60%;
        height: 50%;

        display: flex;

        flex-direction: column;
        justify-content: space-between;


        h1{
            font-size: 3.2rem;
            color: rgb(94, 103, 154);

            span{
                color: rgb(106, 189, 140);
            }

        }

       form{
        div{
            display: flex;
            gap: 1rem;
            align-items: center;

            input[type=radio]{
                cursor: pointer;
                width: 1.25em;
                height: 1.25em;
            }
            label{
                font-size: 2rem;
            }
        }
       }

        button{
            width: fit-content;
            padding: 1rem 2rem;
            font-size: 2rem;

            background-color: white;
            color: rgb(94, 103, 154);    
            border: solid 0.35rem rgb(106, 189, 140);
            border-radius: 0.5rem;
            font-weight: 600;

            cursor: pointer;

        }
        

       
    }

    @media(max-width:460px){
        .wrapper{
            width: 80%;
            height: 70%;


            h1{
                font-size: 2.6rem;
            }
        }
    }

}

