.container{
    height: 100vh;
    width: 100%;

    display: grid;

    place-items: center;

    .wrapper{

        width: 60%;
        height: 50%;

        display: flex;

        flex-direction: column;
        justify-content: space-between;


        h1{
            font-size: 3.2rem;
            color: rgb(94, 103, 154);

            span{
                color: rgb(106, 189, 140);
            }

        }

       form{
        div{
            display: flex;
            gap: 1rem;
            align-items: center;

            input{
                cursor: pointer;
            }
            label{
                font-size: 2rem;
            }
        }
       }

        button{
            width: fit-content;
            padding: 1rem 2rem;
            font-size: 2rem;
        }
        

       
    }
}