.container{
    height: 100vh;
    width: 100%;

    display: grid;

    place-items: center;

    .wrapper{

        width: 80%;
        height: 75%;

        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-size: 6rem;
            color: rgb(58, 58, 138);
        }

        button{
            width: fit-content;
            padding: 1rem 2rem;
            font-size: 2rem;

            cursor: pointer;
        }
    }
}